@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,700&display=swap');

:root {
  --blue : #1DA1F2;
  --red : #F71A7F;
  --green : #17B97F;
  --black : #0f1419;
  --gray : #657786;
  --dark-gray : #536471 ;
  --light-blue : #dfeffc;
  --light-red : #F7E0EB;
  --light-green : #DEF1EB;
  --light-gray : #ececec;
  --extra-light-gray : #F7F7F7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  background: #fff;
  overflow-x: hidden;
  font-family: 'Libre Franklin', sans-serif;
  max-width: 1250px;
  margin: 0 auto;
}

aside {
  display: none;
}

/* Buttons */
.btn {
  background: none;
  border: none;
  padding: 0.3rem;
  min-width: 20px;
  min-height: 20px;
}


.btn-top-tweet {
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  justify-content: end;
  align-items: center;
}

.btn-tweet {
  height: 36px;
  background-color: #8FCEF5;
  color: white;
  padding: 0 20px;
  border-radius: 25px;
  font-weight: bold;
}

.btn-article-more {
  padding: 7px 9px;
  margin: -8px;
  font-size: 1rem;
  color: var(--dark-gray);
}

.btn-article {
  padding: 0;
  gap: 8px;
  font-size: 0.9375rem;
  color: var(--gray);
}

.btn-article .icon {
  padding: 2px;
}

.btn:hover {
  cursor: pointer;
}

.btn-home:hover {
  border-radius: 50%;
  background: var(--light-blue);
}

.btn-tweet:hover {
  cursor: default;
}

.btn-article-more:hover {
  border-radius: 50%;
  background: var(--light-blue);
  color: var(--blue);
}

.btn-article--comment:hover, .btn-article--share:hover {
  color: var(--blue);
}

.btn-article--retweet:hover {
  color: var(--green);
}

.btn-article--like:hover {
  color: var(--red);
}

.btn-article--comment:hover > .icon, .btn-article--share:hover > .icon {
  background-color: var(--light-blue);
  border-radius: 50%;
}

.btn-article--retweet:hover > .icon {
  background-color: var(--light-green);
  border-radius: 50%;
}

.btn-article--like:hover > .icon {
  background-color: var(--light-red);
  border-radius: 50%;
}

/* Navigation bar */
body > header {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
  background: #fff;
}

.nav-bar {
  padding: 0.1rem 0;
}

.btn-home {
  display: none;
}

.bottom-items {
  display: none;
}

nav ul li:nth-child(5),
nav ul li:nth-child(6),
nav ul li:nth-child(7),
nav ul li:nth-child(8),
nav ul li .fa-hashtag {
  display: none;
}

nav ul li:nth-child(9) {
  position: absolute;
  right: 5%;
  bottom: 130%;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  justify-content: space-around;
}

.btn-home, 
.btn-nav {
  padding: 1em 0.4em;
  min-width: 50px;
  max-height: 52px;
  border-radius: 50%;
}

.btn-nav-tweet {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: var(--blue);
  text-align: center;
  color: #fff;
  font-size: 1em;
}

nav ul li:hover {
  cursor: pointer;
}

nav ul li:hover > .btn-nav{
  cursor: pointer;
  background: var(--light-gray);
}

.btn-nav-tweet:hover {
  background-color: #1e96e0;
}

.btn-nav-value {
  display: none;
}

.btn-account:hover{
  background: var(--light-gray);
}

.fa-twitter {
  font-size: 2.1em;
  color: var(--blue);
}

.btn-nav-icon {
  width: 25px;
  height: auto;
  font-size: 1.5rem;
}

.btn-nav-tweet .btn-nav-icon {
  font-size: 1rem;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* Main Section */
main {
  background: #ffffff;
  display: grid;
  grid-template-rows: 1fr 60px;
}

/* Main Content */
.main-content {
  max-width: 600px;
  min-width: 300px;
  border-left: 1.5px solid #EFF3F4;
  border-right: 1.5px solid #EFF3F4;
  display: grid;
  grid-template-rows: 53px 1fr;
}

.wrapper {
  padding: 0 1rem;
}

/* Header */
.main-content header {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 999;
  background-color: #fffffff6;
}

.main-content header .wrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: center;
  align-items: center;
  column-gap: 22px;
}

.main-content header:hover {
  cursor: pointer;
}

.main-content header .wrapper {
  height: 3.3125rem;
}

.title {
  font-size: 1.0625rem;
  font-weight: 600;
}

.profile-img--small {
  width: 32px;
  height: 32px;
}

.top-tweet-icon {
  width: 22px;
  height: 22px;
}

.divider {
  margin: 4px 0;
  border-top: 1.5px solid #EFF3F4;
}

.divider--vertical {
  width: 2px;
  min-height: 2em;
  background-color: #CFD9DE;
}

.divider--m0 {
  margin: 0;
}

/* Tweet Form Section */
.tweet-form {
  display: none;
}

/* Tweet Section */
.tweets {
  grid-row: 2 / 3;
}

.card {
  display: grid;
  width: auto;
  min-height: 48px;
}

.card:hover {
  cursor: pointer;
  background: var(--extra-light-gray);
}

.card-show-tweet {
  padding: 0.8em 0;
}

.card-show-tweet .btn-show-tweet {
  padding: 0;
  font-size: 0.9375rem;
  font-weight: 500;
  text-align: center;
  color: var(--blue);
}

.card-article {
  grid-template-columns: auto 1fr;
  column-gap: 15px;
  align-items: start;
}

.card-article--other {
  padding: 15px;
  border: 1px solid #CFD9DE;
  border-radius: 15px;
}

.card-article--other:hover {
  cursor: pointer;
  background-color: #EFEFEF;
}

.card-article--other article {
  display: grid;
  gap: 5px;
  justify-items: start;
}

.article-profile--other {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.profile-img--other {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.btn-show-thread {
  padding: 0;
  font-size: 0.9375rem;
  color: var(--blue);
}

.article-left-item,
.article-right-item {
  padding-top: 1rem;
}

.article-left-item {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.article-left-item .retweet-icon {
  color: var(--dark-gray);
  font-size: 0.9375rem;
  text-align: right;
  margin-bottom: 2px;
}

.article-right-item {
  display: flex;
  flex-direction: column;
}

.article-right-item .retweet-profile-name {
  color: var(--dark-gray);
  font-size: 0.8125rem;
  font-weight: 600;
  margin-bottom: 7px;
}

.article-right-item .retweet-profile-name:hover {
  text-decoration: underline;
}

.article-right-item .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
}

.article-profile {
  flex-basis: 80%;
}

.profile-name, .id-tweet {
  font-size: 15px;
  font-weight: 500;
}

.id-tweet {
  margin-left: 4px;
  color: var(--gray);
  font-weight: normal;
}

.article-tweet > * {
  font-size: 0.9375rem;
  line-height: 1.45em;
  color: var(--black);
}

.article-tweet-hashtag, 
.article-tweet-username, 
.article-tweet-link {
  color: #1d9bf0;
  text-decoration: none;
}

.article-tweet-hashtag:hover, 
.article-tweet-username:hover, 
.article-tweet-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.tweet-images > img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  border: 1px solid #CFD9DE;
}

.article-right-item .bottom {
  padding-top: 7px;
  padding-bottom: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.btn-article .icon {
  padding: 9px;
  margin: -7px;
}

.icon {
  font-size: 1rem;
}

.bottom .count {
  padding-left: 2px;
  font-size: 0.8125rem;
}

.card-article .divider--vertical {
  flex-grow: 2;
  height: auto;
  margin: 3px auto 0 auto;
}

.card-show-thread {
  min-height: 40px;
  grid-column: span 2;
  display: grid;
  grid-template-columns: 48px 1fr;
  column-gap: 15px;
  align-items: center;
  justify-items: start;
}

.card-show-thread img {
  justify-self: center;
}

.floating-message {
  display: none;
}

/* Responsive */
@media only screen and (min-width: 500px) {
  body {
    grid-template-columns: 15% auto;
  }

  /* Navigation Bar */
  body > header {
    width: 100%;
    display: flex;
    justify-content: end;
    position: static;
    z-index: 0;
    background: none;
  }

  body header .divider {
    display: none;
  }

  .nav-bar {
    min-width: 50px;
    position: fixed;
    display: grid;
    justify-items: center;
    grid-template-rows: 90vh 10vh;
    overflow-y: auto;
    padding: 0 0.6em;
    margin-top: 2px;
  }

  .top-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  nav ul li:nth-child(5),
  nav ul li:nth-child(6),
  nav ul li:nth-child(7),
  nav ul li:nth-child(8)
  {
    display: block;
  }

  nav ul li:nth-child(9) {
    position: static;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
  }


  .btn-home {
    display: block;
  }

  .btn-nav-value {
    font-size: 1.25rem;
  }

  .bottom-items {
    display: block;
    padding: 1em 0;
    display: grid;
    align-self: end;
  }

  .btn-account {
    display: grid;
    padding: .9em;
    border-radius: 50%;
  }

  .btn-account span, .btn-account i {
    display: none;
  }


  /* Main */
  main {
    grid-template-rows: 1fr;
  }

  .main-content {
    display: grid;
    grid-template-rows: 53px auto 1fr;
  }

  /* Main -- Header */
  .main-content > header {
    width: 86%;
  }

  .main-content > header .wrapper > img {
    display: none;
  }

  .main-content > header .wrapper {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }

  .main-content > header h1 {
    font-size: 1.25rem;
  }

  /* Main -- Tweet Form */
  .tweet-form {
    grid-row: 2 / 3;
    display: block;
    padding: 0.25rem 0;
    width: auto;
    height: auto;
  }

  .tweet-form .wrapper {
    display: block;
  }
  
  .form {
    width: auto;
    min-height: 100px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;
  }
  
  .form-profile {
    min-width: 48px;
    height: 48px;
    border-radius: 25px;
  }
  
  .form-profile:hover {
    cursor: pointer;
    filter: grayscale(20%);
  }
  
  .input-tweet {
    min-height: 52px;
    padding: 0.75rem 0;
    font-size: 1.125rem;
    font-family: inherit;
    border: none;
    color: var(--black);
  }
  
  .input-tweet:focus {
    font-family: inherit;
    outline: none;
  }
  
  .form-bottom-items {
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }
  
  .left-items {
    display: flex;
    column-gap: 3px;
    margin-left: -5px;
  }
  
  .select-item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 34px;
    height: 34px;
    border-radius: 25px;
  }

  .tweet-form .select-item:nth-of-type(3),
  .tweet-form .select-item:nth-of-type(5) {
    display: none;
  }
  
  .select-item > i {
    font-size: 1.125rem;
    color: var(--blue);
  }
  
  .select-item--disabled > i {
    color: #add9f5;
  }
  
  .select-item:hover {
    cursor: pointer;
    background-color: var(--light-blue);
  }
  
  .select-item--disabled:hover {
    background-color: #fff;
    cursor: default;
  }

  /* Main -- Tweets user */
  .tweets {
    margin-top: 6px;
    border-top: 1.5px solid #EFF3F4;
    grid-row: 3 / 4;
  }
}

@media only screen and (min-width: 700px) {
  .main-content > header {
    width: 597px;
  }
}

@media only screen and (min-width: 706px) {
  .tweet-form .select-item:nth-of-type(3),
  .tweet-form .select-item:nth-of-type(5) {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 34px;
    height: 34px;
    border-radius: 25px;
  }
}

@media only screen and (min-width: 735px) {
  body {
    grid-template-columns: 17% auto;
  }
}

@media only screen and (min-width: 1022px) {
  body {
    grid-template-columns: 10% auto;
  }

  main {
    grid-template-columns: auto 1fr;
    column-gap: 2%;
  }

  aside {
    display: grid;
    grid-template-rows: 55px repeat(3, 1fr);
    max-width: 348px;
    max-height: 1200px;
    row-gap: 15px;
  }

  aside > section {
    background-color: #F7F9F9;
    color: var(--black);
    border-radius: 15px;
    width: 290px;
  }

  /* Navigation Bar */
  nav ul li .fa-hashtag {
    display: inline-block;
  }

  nav ul li .fa-magnifying-glass {
    display: none;
  }

  /* Section Search Twitter */
  .search{
    width: 290px;
    height: 54px;
    padding-top: 5px;
    margin-bottom: 15px;
    border-radius: 0;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 999;
  }

  .input-search {
    background-color: #EFF3F4;
    border-radius: 25px;
    padding: 12px 20px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  .search-icon {
    color: var(--gray);
    font-size: 1.1rem;
    flex-basis: 13%;
  }

  .input-search input {
    flex-basis: 87%;
    border: none;
    background-color: inherit;
    font-size: 0.9375rem;
  }

  .input-search input:focus {
    outline: none;
    font-family: inherit;
  }

  /* Section Trending */
  .trending {
    grid-row: 2 / 3;
  }

  .trend-content > * {
    padding: 12px 16px;
  }

  .trend-content > button {
    padding: 18px;
    width: 100%;
    text-align: left;
  }

  .trend-content > section:hover, .trend-content > button:hover {
    cursor: pointer;
    background-color: #EFF1F1;
  }

  .trend-content > button:hover {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .trend-title {
    font-size: 1.25rem;
  }

  .card-trend {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--dark-gray);
  }

  .card-trend-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .card-trend-top {
    font-size: 0.8125rem;
  }

  .card-trend-top p{
    position: relative;
    display: flex;
    flex-direction: row;
    gap:10px;
  }

  .card-trend-top p span {
    position: absolute;
    top: -3.5px;
    left: 11.5px;
    font-weight: bolder;
  }

  .card-trend-top .btn-article-more {
    height: 32px;
  }

  .card-trend-middle {
    font-size: 0.9375rem;
    font-weight: 600;
    color: var(--black);
  }

  .card-trend-bottom {
    font-size: 0.8125rem;
  }

  /* Section Who to Follow */
  .suggest-follow {
    grid-row: 3 / 4;
  }

  .to-follow-content > * {
    padding: 12px 16px;
  }

  .to-follow-content > button {
    padding: 18px;
    width: 100%;
    text-align: left;
  }

  .to-follow-content > section:hover, .to-follow-content > button:hover {
    cursor: pointer;
    background-color: #EFF1F1;
  }

  .to-follow-content > button:hover {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .to-follow-title {
    font-size: 1.25rem;
  }

  .card-to-follow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
  }

  .suggest-follow--user {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .profile-to-follow > * {
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .profile-to-follow > * {
    font-size: 0.9375rem;
    color: var(--gray);
  }

  .profile-to-follow h3 {
    color: var(--black);
  }

  .profile-to-follow h3:hover {
    text-decoration: underline;
  }

  .btn-follow {
    max-width: 77px;
    padding: 0.5rem 1rem;
    background: var(--black);
    color: #fff;
    border-radius: 15px;
    font-size: 0.875rem;
    font-weight: 500;
    flex-grow: 1;
  }

  .btn-follow:hover {
    background-color: #272C30;
  }

  /* Section Detail Twitter */
  .detail-informations-twitter {
    grid-row: 4 / 5;
    background-color: #fff;
  }

  .detail-informations-twitter .items {
    padding: 12px 16px;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 4px;
  }

  .detail-informations-twitter .items  li {
    color: var(--gray);
    font-size: 0.8125rem;
  }

  .detail-informations-twitter .items  li a {
    color: inherit;
    text-decoration: none;
  }

  .detail-informations-twitter .items  li a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

@media only screen and (min-width: 1080px) {
  .floating-message {
    display: block;
    position: fixed;
    bottom: 0;
    right: 1.5%;
    min-width: 350px;
    min-height: 35px;
    background-color: #fff;
    border: 1px solid var(--light-gray);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .message-container {
    width: auto;
    height: 50px;
    padding: 0 16px;
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    align-items: center;
  }

  .message-container  h2 {
    font-size: 1.25rem;
    font-weight: 600;
  }

  .btn-message {
    max-width: 38px;
    max-height: 38px;
    padding: 0.6em;
    border-radius: 50%;
  }

  .btn-message:hover {
    background-color: var(--light-gray);
  }

  .actions button > * {
    width: 22px;
  }
}

@media only screen and (min-width: 1113px) {
  aside > section {
    width: 100%;
  }

  .search{
    width: 348px;
  }

  .profile-to-follow > * {
    width: auto;
  }
}

@media only screen and (min-width: 1282px) {
  body {
    grid-template-columns: 21% auto;
  }

  body>header {
    justify-content: start;
    position: relative;
  }

  main {
    column-gap: 3%;
  }

  /* Navigation Bar */
  .nav-bar {
    justify-content: start;
    justify-items: start;
  }

  .top-items, .bottom-items {
    width: 230px;
    align-items: start;
  }

  nav {
    width: 100%;
  }

  nav ul {
    align-items: start;
  }

  .btn-nav {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
    border-radius: 25px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .btn-home {
    padding: 0.8em;
    margin-left: 3px;
  }

  .btn-nav-value {
    display: block;
    color: var(--black);
    font-family: "Libre Franklin", sans-serif;;
  }

  nav ul li {
    width: 100%;
  }

  .btn-nav-tweet .btn-nav-icon {
    display: none;
  }

  .btn-nav-tweet {
    width: 100%;
    border-radius: 50px;
  }

  .btn-nav-tweet .btn-nav-value {
    color: #fff;
    font-size: 1.0625rem;
    font-weight: bold;
  }

  .btn-account {
    grid-template-areas: 
    "img name more-icon"
    "img username more-icon";
    align-items: center;
    border-radius: 50px;
  }

  .btn-account .profile-img {
    grid-area: img;
  }

  .btn-account span, .btn-account i {
    display: block;
  }

  .btn-account span {
    max-width: 115px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .btn-account .profile-name, .btn-account .profile-username {
    justify-self: start;
  }

  .btn-account .profile-name {
    grid-area: name;
    font-weight: bold;
    color: var(--black);
  }

  .btn-account .profile-username {
    grid-area: username;
    font-size: 0.9375rem;
    color: var(--gray);
  }

  .btn-account i {
    grid-area: more-icon;
    font-size: 1rem;
    justify-self: end;
  }
}