@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,700&display=swap');

:root {
  --blue : #1DA1F2;
  --red : #F71A7F;
  --green : #17B97F;
  --black : #0f1419;
  --gray : #536471;
  --dark-gray : #657786;
  --light-blue : #dfeffc;
  --light-red : #F7E0EB;
  --light-green : #DEF1EB;
  --light-gray : #ececec;
  --extra-light-gray : #F7F7F7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 4.25rem auto;
  background: #fff;
  overflow-x: hidden;
  font-family: 'Libre Franklin', sans-serif;
}

/* Buttons */
.btn {
  background: none;
  border: none;
  padding: 0.3rem;
  min-width: 20px;
  min-height: 20px;
}

.btn-home, .btn-nav, .btn-nav-tweet {
  width: 50px;
  height: 50px;
}

.btn-account {
  padding: 0.7rem;
  margin: 0;
}

.btn-nav-tweet {
  margin-top: 15px;
  padding: 15px;
  border-radius: 50%;
  background: var(--blue);
  text-align: center;
  color: #fff;
  font-size: 1em;
}

.btn-top-tweet {
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  justify-content: end;
  align-items: center;
}

.btn-tweet {
  height: 36px;
  background-color: #8FCEF5;
  color: white;
  padding: 0 20px;
  border-radius: 25px;
  font-weight: bold;
}

.btn-article-more {
  padding: 7px 9px;
  margin: -8px;
  font-size: 1rem;
  color: var(--gray);
}

.btn-article {
  padding: 0;
  gap: 8px;
  font-size: 0.9375rem;
  color: var(--dark-gray);
}

.btn-article .icon {
  padding: 2px;
}

.btn:hover {
  cursor: pointer;
}

.btn-home:hover {
  border-radius: 50%;
  background: var(--light-blue);
}

.btn-nav:hover, .btn-account:hover{
  border-radius: 50%;
  background: var(--light-gray);
}

.btn-nav-tweet:hover {
  background-color: #1e96e0;
}

.btn-tweet:hover {
  cursor: default;
}

.btn-article-more:hover {
  border-radius: 50%;
  background: var(--light-blue);
  color: var(--blue);
}

.btn-article--comment:hover, .btn-article--share:hover {
  color: var(--blue);
}

.btn-article--retweet:hover {
  color: var(--green);
}

.btn-article--like:hover {
  color: var(--red);
}

.btn-article--comment:hover > .icon, .btn-article--share:hover > .icon {
  background-color: var(--light-blue);
  border-radius: 50%;
}

.btn-article--retweet:hover > .icon {
  background-color: var(--light-green);
  border-radius: 50%;
}

.btn-article--like:hover > .icon {
  background-color: var(--light-red);
  border-radius: 50%;
}

/* Navigation bar */
.nav-bar {
  width: 4.25rem;
  position: fixed;
  justify-items: center;
  display: grid;
  grid-template-rows: 50vh 50vh;
}

.top-items {
  width: 100%;
  display: grid;
  padding: 0.2em 0;
  gap: 0.5rem;
  justify-items: center;
}

.bottom-items {
  width: 100%;
  padding: .6em 0;
  display: grid;
  align-self: end;
  justify-items: center;
}

nav ul {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  justify-content: center;
  row-gap: 0.5rem;
  list-style: none;
}

.fa-twitter {
  font-size: 2.1em;
  color: var(--blue);
}

.fa-brand {
  font-size: 1.7em;
}

.nav-icon {
  width: 25px;
  height: auto;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* Main Section */
main {
  background: rgb(255, 255, 255);
  height: 2000px;
  grid-column: 2 / 3;
  border-left: 1.5px solid #EFF3F4;
  border-right: 1.5px solid #EFF3F4;
  display: grid;
  grid-template-rows: 3.3125rem auto 1fr;
}

.wrapper {
  padding: 2px 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header, .tweet-form, .tweets {
  max-width: 598px;
}

/* Header */
header {
  width: 86%;
  position: fixed;
  z-index: 999;
  background-color: #fffffff6;
}

header:hover {
  cursor: pointer;
}

header .wrapper {
  height: 3.3125rem;
}

.title {
  width: 100%;
  font-size: 1.1875rem;
  font-weight: 600;
}

.top-tweet-icon {
  width: 22px;
  height: 22px;
}

.divider {
  margin: 4px 0;
  border-top: 1.5px solid #EFF3F4;
}

.divider--m0 {
  margin: 0;
}

/* Tweet Form Section */
.tweet-form {
  grid-row: 2 / 3;
  padding: 0.25rem 0;
  width: auto;
  height: auto;
}

.tweet-form .wrapper {
  display: block;
}

.form {
  width: auto;
  min-height: 100px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
}

.form-profile {
  min-width: 48px;
  height: 48px;
  border-radius: 25px;
}

.form-profile:hover {
  cursor: pointer;
  filter: grayscale(20%);
}

.input-tweet {
  min-height: 52px;
  padding: 0.75rem 0;
  font-size: 1.125rem;
  font-family: inherit;
  border: none;
  color: var(--black);
}

.input-tweet:focus {
  font-family: inherit;
  outline: none;
}

.form-bottom-items {
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.left-items {
  display: flex;
  column-gap: 3px;
  margin-left: -5px;
}

.select-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 34px;
  height: 34px;
  border-radius: 25px;
  font-size: 1.125em;
}

.select-item > i {
  font-size: 16px;
  color: var(--blue);
}

.select-item-disabled > i {
  color: #add9f5;
}

.select-item:hover {
  cursor: pointer;
  background-color: var(--light-blue);
}

.select-item-disabled:hover {
  background-color: #fff;
  cursor: default;
}

/* Tweet Section */
.tweets {
  grid-row: 3 / 4;
}

.card {
  display: grid;
  width: auto;
  min-height: 48px;
}

.card:hover {
  cursor: pointer;
  background: var(--extra-light-gray);
}

.card-show-tweet {
  padding: 0.8em 0;
}

.card-show-tweet .btn-show-tweet {
  padding: 0;
  font-size: 0.9375rem;
  font-weight: 500;
  text-align: center;
  color: var(--blue);
}

.card-article {
  padding-top: 12px;
  padding-bottom: 12px;
  grid-template-columns: auto 1fr;
  gap: 15px;
  align-items: start;
}

.card-article--other {
  padding: 15px;
  border: 1px solid #CFD9DE;
  border-radius: 15px;
}

.card-article--other:hover {
  cursor: pointer;
  background-color: #EFEFEF;
}

.card-article--other article {
  display: grid;
  gap: 5px;
  justify-items: start;
}

.article-profile--other {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.profile-img--other {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.btn-show-thread {
  padding: 0;
  font-size: 0.9375rem;
  color: var(--blue);
}

.article-left-item {
  justify-self: start;
}

.article-left-item .retweet-icon {
  color: var(--dark-gray);
  font-size: 0.9375rem;
  text-align: right;
  margin-bottom: 2px;
}

.article-right-item {
  display: flex;
  flex-direction: column;
}

.article-right-item .retweet-profile-name {
  color: var(--dark-gray);
  font-size: 0.8125rem;
  font-weight: 600;
  margin-bottom: 7px;
}

.article-right-item .retweet-profile-name:hover {
  text-decoration: underline;
}

.article-right-item .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
}

.article-profile {
  flex-basis: 80%;
}

.profile-name, .id-tweet {
  font-size: 15px;
  font-weight: 500;
}

.id-tweet {
  margin-left: 4px;
  color: var(--gray);
  font-weight: normal;
}

.article-tweet > * {
  font-size: 0.9375rem;
  line-height: 1.45em;
  color: var(--black);
}

.tweet-images > img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  border: 1px solid #CFD9DE;
}

.bottom {
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.btn-article .icon {
  padding: 9px;
  margin: -7px;
}

.icon {
  font-size: 1rem;
}

.bottom .count {
  padding-left: 2px;
  font-size: 0.8125rem;
}